// Colors
$primaryColor: #5abbce;
$secondaryColorDark: rgba(27, 27, 27, 1);
$secondaryColorLight: rgba(247, 247, 247, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(27, 27, 27, 0.8);
$greyLight: rgba(230, 230, 230, 1);
$greyMedium: rgba(150, 150, 150, 1);
$danger: #8ec049;

// Accent colors
$accent1: rgba(150,218,189,255);
$accent2: rgba(255, 221, 89, 1);

// Typography
$fontSizeBasic: 1.2rem;
$fontBold: 700;

// Menu
$navHeightDesktop: 6rem;
$navHeightMobile: 4rem;

// Form
$inputHeight: 3.65rem;

// Some Media Queries Breakpoints
$smallMobile: 320px;
$mobile: 900px;
$desktop: 1200px;
$largeDesktop: 2200px;

// Gap
$gap: 3rem;

