// Colors
$primaryColor: rgba(245,122,110,255); // bright coral
$secondaryColorDark: rgba(24, 24, 24, 1); // dark charcoal
$secondaryColorLight: rgba(247, 247, 247, 1); // light grey
$white: rgba(255, 255, 255, 1); // pure white
$black: rgba(0, 0, 0, 0.8); // dark black with high opacity
$greyLight: rgba(230, 230, 230, 1); // light grey
$greyMedium: rgba(150, 150, 150, 1); // medium grey
$danger: rgba(84,190,163,255); // cold

// Accent colors
$accent1: rgba(150,218,189,255); // bright green
$accent2: rgba(255, 221, 89, 1); // bright yellow

// Typography
$fontFamilyBasic: 'Montserrat', sans-serif; // modern sans-serif font
$fontSizeBasic: 1.2rem; // increased font size
$fontBold: 700; // increased font weight

// Menu
$navHeightDesktop: 6rem; // increased height
$navHeightMobile: 4rem; // increased height

// Form
$inputHeight: 3.5rem; // increased height

// Media Queries Breakpoints
$smallMobile: 320px; // decreased breakpoint
$mobile: 900px; // increased breakpoint
$desktop: 1200px; // increased breakpoint
$largeDesktop: 2200px; // increased breakpoint

// Gap
$gap: 3rem; // increased gap size


// //colors
// $primaryColor: rgba(238, 118, 116, 1);
// $secondaryColorDark: rgba(51, 65, 99, 1);
// $secondaryColorLight: rgba(221, 226, 238, 1);
// $white: rgba(250, 249, 249, 1);
// $black: rgba(0, 0, 0, 0.2);
// $greyLight: rgba(245, 245, 245, 1);
// $greyMedium: rgba(239, 239, 239, 1);
// $danger: #b53230;

// // typography
// $fontFamilyBasic: 'Roboto', sans-serif;
// $fontSizeBasic: 1rem;
// $fontBold: 600;

// //menu
// $navHeightDesktop: 5rem;
// $navHeightMobile: 3.5rem;

// //form
// $inputHeight: 3rem;

// //media queries breakpoints
// $smallMobile: 375px;
// $mobile: 768px;
// $desktop: 1024px;
// $largeDesktop: 1920px;

// //
// $gap: 2rem;
