<app-preloader *ngIf="preloaderService.isLoading | async"></app-preloader>
<section class="section section--welcome">
	<div class="col col--form">
		<main class="content">
			<h1 class="content__heading">Czy wiesz jaka jest pogoda?</h1>
			<h6 class="content__description">Wpisz miejscowość &#8212; nie pozwól pogodzie Cię zaskoczyć &#11088;</h6>
			<form class="form">
				<input
					type="text"
					class="form__input"
					placeholder="Podaj miejscowość"
					[(ngModel)]="location.city"
					name="city"
				/>
				<button
					class="form__btn"
					data-target="weather"
					(click)="startApp('inputBtn')"
					(keydown.enter)="startApp('enter')"
				>
					<img class="search__icon" src="assets/images/icon-search.svg" alt="Search" />
				</button>
				<div class="geolocation">
					<button class="geolocation__btn" (click)="getLocation()">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="form__icon"
							width="20"
							height="20"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="white"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<circle cx="12" cy="12" r="3" />
							<circle cx="12" cy="12" r="8" />
							<line x1="12" y1="2" x2="12" y2="4" />
							<line x1="12" y1="20" x2="12" y2="22" />
							<line x1="20" y1="12" x2="22" y2="12" />
							<line x1="2" y1="12" x2="4" y2="12" />
						</svg>
						Zlokalizuj mnie
					</button>
				</div>
				<div [class]="errorShowClass">{{ error }}</div>
			</form>
		</main>
	</div>
	<div class="illu">
  		<iframe class="illu__img" src="https://lottie.host/embed/16e69202-055e-4104-b7d6-51f5f7e4471e/9Q8BVVzX1z.json" 	shape-rendering="crispEdges"
></iframe>
	</div>
</section>

<section [class]="sectionWithDataClass" id="currentWeatherSection">
	<div *ngIf="currentWeather" class="col col--weather">
		<div class="city">
			<ng-container *ngIf="target === 'inputBtn'">
				<h2 class="city__name">{{ currentWeather.city | titlecase }}</h2>
			</ng-container>
			<ng-container *ngIf="target === 'geolocation'">
				<h2 class="city__name">
					φ: {{ location.latitude | number: '1.1-3' }} <br />
					λ: {{ location.longitude | number: '1.1-3' }}
				</h2>
			</ng-container>

			<div class="sun">
				<ul class="sun__items">
					<li class="sun__item">
						Wschód:
						<time class="sun__sunrise">{{ currentWeather.sunrise }}</time>
					</li>
					<li class="sun__item">
						Zachód:
						<time class="sun__sunset">{{ currentWeather.sunset }}</time>
					</li>
				</ul>
				<img src="assets/images/sunrise.svg" alt="" class="sun__icon" />
			</div>
		</div>
		<h3 class="uppercase heading" id="teraz">Teraz</h3>

		<div class="box">
			<div class="col__container">
			<div class="col">
				<img [src]="currentWeather.icon" alt="" class="current-weather__icon" />
				<span class="current-weather__name uppercase">{{
					currentWeather.description
				}}</span>
				<span class="current-weather__temp">
					{{ currentWeather.temperature | number: '1.0-1' }} <sup> o</sup>C
				</span>
				<div *ngIf="airQualityData" class="air">
					 <span class="airspan"><h6 class="air-t">Indeks jakości powietrza:</h6>
						<ul class="airspan__items">
		<li class="airspan__item"><span class="i-a__spans">AQI:</span><span class="a-data__span">{{ airQualityData.data[0].aqi }}</span></li>
		<li class="airspan__item"><span class="i-a__spans">CO:</span> <span class="a-data__span">{{ airQualityData.data[0].co }}</span></li>
		<li class="airspan__item"><span class="i-a__spans">NO2:</span><span class="a-data__span">{{ airQualityData.data[0].no2 }}</span></li>
		<li class="airspan__item"><span class="i-a__spans">O3:</span><span class="a-data__span">{{ airQualityData.data[0].o3}}</span></li>
		<li class="airspan__item"><span class="i-a__spans">SO2:</span> <span class="a-data__span">{{ airQualityData.data[0].so2 }}</span></li>
		<li class="airspan__item"><span class="i-a__spans">PM25:</span> <span class="a-data__span">{{ airQualityData.data[0].pm25}}</span></li>
		<li class="airspan__item"><span class="i-a__spans">PM10:</span><span class="a-data__span">{{ airQualityData.data[0].pm10 }}</span></li>
		<li class="airspan__item"><span class="i-a__spans">PYŁKI DRZEW:</span><span class="a-data__span">{{ airQualityData.data[0].pollen_level_tree }}</span></li>
		<li class="airspan__item"><span class="i-a__spans">PYŁKI TRAW:</span><span class="a-data__span">{{ airQualityData.data[0].pollen_level_grass }}</span></li>
		<li class="airspan__item"><span class="i-a__spans">PYŁKI CHWASTÓW:</span> <span class="a-data__span">{{ airQualityData.data[0].pollen_level_weed }}</span></li>
		</ul>
		</span>
	</div>
			</div>
			<div class="col2">
				<div class="current-weather">
					<ul class="current-weather__items">
						<div class="current-weather__item">
							<li class="cw__list">
							<span class="current-weather__spans"> Odczuwalna: </span>
							<span class="current-weather__feels-like">{{
								currentWeather.perceivedTemperature | number: '1.0-1'
							}}<sup> o</sup>C</span>
						</li>
						</div>
						<div class="current-weather__item">
							<li class="cw__list">
							<span class="current-weather__spans">Ciśnienie:</span>
							<span class="current-weather__pressure">{{
								currentWeather.pressure | number: '1.0-0'
							}}
							hPa</span>
						</li>
						</div>
						<div class="current-weather__item">
							<li class="cw__list">
							<span class="current-weather__spans">Wilgotność:</span>
							<span class="current-weather__humidity">{{
								currentWeather.humidity | number: '1.0-1'
							}}
							%</span>
						</li></div>
						<div class="current-weather__item">
							<li class="cw__list">
							<span class="current-weather__spans">Widoczność:</span>
							<span class="current-weather__visibility">{{
								currentWeather.visibility | number: '1.0-1'
							}} km</span>
						</li></div>
						<div class="current-weather__item">
							<li class="cw__list">
							<span class="current-weather__spans">Wiatr:</span>
							<span class="current-weather__wind-speed">{{
								currentWeather.windSpeed | number: '1.0-1'
							}} km/h</span>
						</li></div>
							<ul>
    						<div class="current-weather__item" id="sug__item">
								<li id="suggestions" *ngFor="let suggestion of outfitSuggestions">{{ suggestion }}</li></div>
  						</ul>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>


	<div class="col city-image"> <iframe id="iframe" width="100%" height="100%" src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricRain=default&metricTemp=default&metricWind=default&zoom=5&overlay=wind&product=ecmwf&level=surface&lat=49.923&lon=16.919&message=true" frameborder="0"></iframe> </div>



	<div class="news-wrap">
<div class="news" id="news">
	<div class="news__item" *ngIf="weatherAlertsData && weatherAlertsData.alerts.length === 0">
      Jesteś bezpieczny, obecnie w Twojej okolicy nie ma alertów pogodowych. Śledź pogodę i bądź uważny na nowe ostrzeżenia.
    </div>
	<div class="news__item" *ngIf="weatherAlertsData && weatherAlertsData.alerts.length === 0">
      Jesteś bezpieczny, obecnie w Twojej okolicy nie ma alertów pogodowych. Śledź pogodę i bądź uważny na nowe ostrzeżenia.
    </div>
	<div class="news__item" *ngIf="weatherAlertsData && weatherAlertsData.alerts.length === 0">
      Jesteś bezpieczny, obecnie w Twojej okolicy nie ma alertów pogodowych. Śledź pogodę i bądź uważny na nowe ostrzeżenia.
    </div>
	<div class="news__item" *ngIf="weatherAlertsData && weatherAlertsData.alerts.length === 0">
      Jesteś bezpieczny, obecnie w Twojej okolicy nie ma alertów pogodowych. Śledź pogodę i bądź uważny na nowe ostrzeżenia.
    </div>
	<div class="news__item" *ngIf="weatherAlertsData && weatherAlertsData.alerts.length === 0">
      Jesteś bezpieczny, obecnie w Twojej okolicy nie ma alertów pogodowych. Śledź pogodę i bądź uważny na nowe ostrzeżenia.
    </div>
	<div class="news__item" *ngIf="weatherAlertsData && weatherAlertsData.alerts.length === 0">
      Jesteś bezpieczny, obecnie w Twojej okolicy nie ma alertów pogodowych. Śledź pogodę i bądź uważny na nowe ostrzeżenia.
    </div>
	<div class="news__item" *ngIf="weatherAlertsData && weatherAlertsData.alerts.length === 0">
      Jesteś bezpieczny, obecnie w Twojej okolicy nie ma alertów pogodowych. Śledź pogodę i bądź uważny na nowe ostrzeżenia.
    </div>
	<div class="news__item" *ngIf="weatherAlertsData && weatherAlertsData.alerts.length === 0">
      Jesteś bezpieczny, obecnie w Twojej okolicy nie ma alertów pogodowych. Śledź pogodę i bądź uważny na nowe ostrzeżenia.
    </div>
	<div class="news__item" *ngIf="weatherAlertsData && weatherAlertsData.alerts.length === 0">
      Jesteś bezpieczny, obecnie w Twojej okolicy nie ma alertów pogodowych. Śledź pogodę i bądź uważny na nowe ostrzeżenia.
    </div>
	<div *ngIf="weatherAlertsData">
  <div class="news__item" *ngFor="let alert of weatherAlertsData.alerts">{{ alert.description }}</div>
  </div>
</div>
</div>

	<h3 class="uppercase heading heading--forecast">Prognoza pogody 16-dniowa</h3>


<div class="forecast" *ngFor="let item of forecastWeather.data">
  <span class="forecast__date">{{ item?.datetime | date: 'dd / MM / yyyy' }}</span>
  <img class="forecast__icon" src="{{ iconsURL }}{{ item.weather.icon }}.svg" />
  <span class="forecast__name">{{ item?.weather.description }}</span>
  <span class="forecast__temp">{{ item?.temp }} <sup>o</sup>C</span>
</div>


	<div class="cta" (click)="scrollToTop()">
		<span class="cta__copy"> Sprawdź dla innego miasta </span>
		<img src="assets/images/arrow.svg" alt="" class="cta__icon" />
	</div>
</section>
