html {
	scroll-behavior: smooth;
}

html,
body {
	width: 100%;
	font-family: "Climate Crisis", "Plus Jakarta Sans", sans-serif;
	font-size: clamp(16px, 3vh, 20px);
	font-optical-sizing: auto;
	font-weight: normal;

}

p {
	margin-bottom: 1rem;
	font-weight: 400;
	line-height: 1.65;
}

strong {
	font-weight: 600;
}

div.sun {
	font-family: "Plus Jakarta Sans", sans-serif;
	text-transform: uppercase;
	font-weight: 700;

}

.sun__item {
		font-family: "Climate Crisis", sans-serif;
		text-transform: uppercase;
		font-weight: normal;
}

.sun__sunrise, .sun__sunset {
	font-family: "Plus Jakarta Sans", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.current-weather__spans {
	font-family: "Climate Crisis", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.7vh;
	margin-right: 0.5vw;
}
.cw__list,
.current-weather__item {
	font-family: "Plus Jakarta Sans", sans-serif;
	text-transform: uppercase;
	font-size: 2vh;
	font-weight: 700;
	overflow: hidden;
	text-align: center;
	color: rgb(27,27,27);
}


li.suggestions {
	overflow: hidden;
	color: rgb(27,27,27);
}


span.forecast__name {
	font-family: "Climate Crisis", sans-serif;
	line-height: normal;
	color: rgb(27,27,27);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;

}

span.forecast__date {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-weight: 700;
	color: rgb(27,27,27);
	text-transform: uppercase;
	letter-spacing: 2px;
}

span.forecast__temp {
	font-family: "Plus Jakarta Sans", sans-serif;
	color: rgb(27,27,27);
	text-transform: uppercase;
	letter-spacing: 2px;
		font-weight: 700;

}

span.current-weather__name {
font-family: "Climate Crisis", sans-serif;
color: rgb(27,27,27);
text-transform: uppercase;
letter-spacing: 2px;
font-weight: normal;
}

span.current-weather__temp {
font-family: "Plus Jakarta Sans", sans-serif;
color: rgb(27,27,27);
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 700;
}

.air {
font-family: "Plus Jakarta Sans", sans-serif;
color: rgb(27,27,27);
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 700;

}

h6.air-t {
	font-family: "Climate Crisis", sans-serif;
	color: rgb(27,27,27);
text-transform: uppercase;
letter-spacing: 2px;
font-weight: normal;
}


.current-weather__items {
font-family: "Plus Jakarta Sans", sans-serif;
color: rgb(27,27,27);
text-transform: uppercase;
letter-spacing: 2px;
	font-weight: 700;

}

h1.content__heading {
	margin-top: 0;
	font-size: 1.7rem;

	@include desktop {
		font-size: 2.2rem;
	}

	@include largeDesktop {
		font-size: 3.3rem;
	}
}
h2.city__name {
	width: calc(100% - 20rem);
	font-size: 2.3vw;
	white-space: nowrap;
}

h3.uppercase.heading {
	font-family: "Climate Crisis", sans-serif;
	font-size: 1.6vw;
	line-height: 1.2rem;
	margin-top: 1.4rem;
	margin-bottom: 1rem;
	font-weight: normal;
}

h3.uppercase.heading.heading--forecast {
	font-family: "Climate Crisis", sans-serif;
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: -4rem;
	font-weight: normal;
}

h6.content__description {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 2vh;
	line-height: 2.8vh;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-family: "Climate Crisis", sans-serif;
	font-weight: auto;
	line-height: 1.3;
}

h1 {
	margin-top: 0;
	font-size: 1.802rem;

	@include desktop {
		font-size: 3rem;
	}

	@include largeDesktop {
		font-size: 4rem;
	}
}

h2 {
	margin-top: 0;
	font-size: 1.602rem;
}

h3 {
	font-size: 1.424rem;
}

h4 {
	font-size: 1.266rem;
}

h5 {
	font-size: 1.125rem;
}

small,
.text_small {
	font-size: 0.889rem;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

.uppercase {
	text-transform: uppercase;
}

@media only screen and (max-width: 600px)
{
	h6.content__description {
		font-size: 0.95rem;
		line-height: 1.2rem;
	}
}
