@import '../../../assets/css/reset';
@import '../../../assets/css/variables';
@import '../../../assets/css/mixins';

.footer {
	font-weight: normal;
	position: relative;
	@include flex;
	padding: 5.6vh;
	background-color: $danger;
	bottom: 0;

	&__icon {
		position: absolute;
		top: -1.5rem;
		left: 50%;
		transform: translateX(-50%);
		padding-bottom: 0.5rem;
	}

	&__copyright {
		font-family: "Climate Crisis", sans-serif;
		color: white;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-optical-sizing: auto;
		font-size: 1.7vh;

		text-wrap: nowrap;

		&-link {
			&:link,
			&:visited {
				color: white;
				text-decoration: none;
				@include basicTransition;
			}

			&:hover,
			&:focus {
				color: rgb(27,27,27);
				text-decoration: wavy;
			}
		}
	}
}


@media only screen and (min-width: 480px) and (max-width: 768px) {

html, body {
  height: 100%;
  margin: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;

}
}


@media only screen and (min-width: 820px)
 {
	html, body {
  height: 100%;
  margin: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;

}
 }
